html {
    background-color: black;
    color: white;
    overflow: auto;
   
}
* {
    box-sizing: border-box;
}
footer {
    text-align: center;
}


nav {
    margin-bottom: 0px;
    
   
}
nav ul {
    list-style: none;
    display: flex;
   margin: 0;
   padding: 0;
   width: 100%;
  
   
}
nav ul li {
    flex: 1 1 0;
    margin: 0px;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}
nav ul li:hover {
    background-color: gray;
}

#box {
    background-color: dimgray;
    margin-top: 0px;
    border: 1px solid white;
    border-top: hidden;
    display: inline-block;
    padding-left: 15px;
    width: 100%;
    
    
}
a {
    color: white;
    text-decoration: none;
}
#intro:hover, ol, footer a {
    text-decoration: underline;
}
li[id] {
    background-color: dimgray;
    border-bottom: hidden;
}
