html {
    background-color: black;
    color: white;
    overflow: auto;
    font-family: 'Roboto', sans-serif;

}

* {
    box-sizing: border-box;
}

footer p,
h1 {
    text-align: center;
}

#top {
    text-align: left;
}


nav {
    margin-bottom: 0px;


}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;


}

nav ul li {
    flex: 1 1 0;
    margin: 0px;
    border: 1px solid white;
    padding: 5px 10px;
    text-align: center;

}

nav ul li:hover {
    background-color: gray;
}

#box {
    background-color: dimgray;
    margin-top: 0px;
    border: 1px solid white;
    border-top: hidden;
    display: inline-block;
    padding-left: 15px;
    width: 100%;
    overflow: auto;

}

div ol li {
    margin-bottom: 7px;
}

a {
    color: white;
    text-decoration: none;
}

#intro:hover,
ol,
footer a {
    text-decoration: underline;
}

li[id] {
    background-color: dimgray;
    border-bottom: hidden;
}
