html {
    background-color: black;
    color: white;
    overflow: auto;
    font-family: 'Roboto', sans-serif;

}

* {
    box-sizing: border-box;
}

footer p,
h1 {
    text-align: center;
    background-color: #1b98e5;
    border-radius: 30px;
   
    padding-bottom: 10px;
    padding-top: 10px;
}

#top {
    text-align: left;
}


nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

nav ul li {
    flex: 1 1 0;
    margin: 5px;
    border: 1px solid #1b98e5;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    align-self: center;

}

nav ul li:hover {
    background-color: #1b98e5;
}

#box {
    border: 2px solid #1b98e5;
    border-radius: 10px;
    display: inline-block;
    padding-left: 15px;
    width: 100%;
    overflow: auto;

}

div ol li {
    margin-bottom: 7px;
}

a {
    color: white;
    text-decoration: none;
}

#intro:hover,
ol,
footer a {
    text-decoration: underline;
}

li[id] {
    background-color: #1b98e5;
    border-bottom: hidden;
}
